<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>당첨자 명단</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<h1>🪽 Congratulations! 🪽</h1>

<table border="1">
    <thead>
    <tr>
        <th>No</th>
        <th>Phone</th>
        <th>College</th>
        <th>Time Slot</th>
        <th>Prize</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="winner : ${drawList}">
        <td th:text="${winner.orderNumber}">1</td>
        <td th:text="${winner.phoneNumber}">01012345678</td>
        <td th:text="${winner.college}">엘텍공과대학</td>
        <td th:text="${#temporals.format(winner.entryTime, 'yyyy-MM-dd HH:mm:ss')}">2025-04-14</td>
        <td th:text="${winner.prize}">스타벅스</td>
    </tr>
    </tbody>
</table>
</body>
</html>